
/*==============================
=            Footer            =
==============================*/

.site-footer {
	clear: both;
	overflow: hidden;
	background: $brand2;
	color: white;
	padding: 15px 0;

	> .wrap {

		> p {
			min-height: 52px;
		    display: flex;
		    align-items: center;
		    margin: 0;
			clear: both;

			@media (min-width: 880px){
				clear:none;
			}
		}
	}

	p {
		margin-bottom: 0;
		display:inline-block;
		font-size: .5rem;

	}

	&__cta{
		float:left;
		margin-right: 60px;

		i {
			background: orange;
		}

		a {
			color: white;
		}
	}

	&__social-icons{
		float: right;

		li {
			
		}

		a {
			text-indent:-999em;
			position: absolute;
			display: block;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
	}
}

/*----------  Widgets  ----------*/

.footer-widgets {
	clear: both;
	overflow: hidden;
	padding: 40px 10px;

	.widget {
		margin-bottom: 40px;
	}
}