
/*==============================
=            Footer            =
==============================*/

.site-footer {
	clear: both;
	overflow: hidden;
	background: $brand2;
	color: white;
	padding: 15px 0;
	text-align:center;

	@media (min-width: 1060px){
		text-align: left;
	}

	> .wrap {
		display: flex;
    	justify-content: space-between;
    	flex-direction:column;

    	@media (min-width: 1060px){
			flex-direction:row;
		}

		> p {
			min-height: 52px;
		    display: flex;
		    align-items: center;
		    margin: 0;
			clear: both;
			justify-content: center;
			order: 1;

			@media (min-width: 1060px){
				justify-content: flex-start;
				order: 0;

			}
		}
	}

	p {
		margin-bottom: 0;
		display:inline-block;
		font-size: .5rem;

	}

	&__cta{

		@media (min-width: 1060px){
			float:left;
			margin-right: 60px;
		}

		i:first-child {
			position:relative;
			top:2px;
			margin:0 5px;
		}

		i:nth-child(2) {
			background: orange;
		}

		a {
			color: white;
			line-height: 50px;
			display:inline-block;
			font-size: .7rem;
			font-family: $fontHeading;
		}
	}

	&__social-icons{
		
		@media (min-width: 1060px){
			float: right;
		}

		li {
			
		}

		a {
			text-indent:-999em;
			position: absolute;
			display: block;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
	}
}

/*----------  Widgets  ----------*/

.footer-widgets {
	clear: both;
	overflow: hidden;
	padding: 40px 10px;

	.widget {
		margin-bottom: 40px;
	}
}