//* Text
$default: #000;
$linkDefault: #111;

//* Color
$colorLight: #ddd;
$colorUltraLight: #f5f5f5;
$brand1: #df176b;
$brand1_1: #e84e94;
$brand2: #626669;
$brand3: #c9c8d6;
$brand3_1: #d4d2df;
$brand4: #cfdb0b;